.me {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.jumbotron h1{
  font-size: 40px;
  text-align: center;
  color: black;
}
.jumbotron h2 {
  font-size: 18px;
  font-style: italic;
}
.row {
  padding: inherit;
  margin: inherit;
}
.jumbotron {
  height: 150px;
  padding-bottom: 15%;
  padding-top: 1%;
  background-position: 0% 25%;
  color: black;
  background-color: #F5B7B1;
  text-align: center;
  margin-top: 20px;
}
.background {
  position: absolute;
  -webkit-filter: blur(20px);
  -webkit-transform: translate3d(0, 0, 0);
}
.panel > .panel-heading {
  background-color: #F5B7B1;
  color: white;
}
.jumbotron h2 {
  font-style: italic;
}
body {
  background-color: #FDEDEC;
  font-family: sans-serif;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/db/5f/62/db5f623f28df644106cd96278f59f11e.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.panel-footer {
  background-color: #FEF9E7;
}
#top {
  background-color: #A2D9CE;
}
.row {
  margin: 3px;
}
